.titulo {
  font-size: 30px;
  text-align: center;
  margin-top: 20%;
}

#body1 {
  background-color: #FFCCB3;
}

#body2 {
  background-color: #54BAB9;
}

#body3 {
  background-color: #FFE9AE;
}

#body4 {
  background-color: #DEB6AB;
}

#body5 {
  background-color: #C4DFAA;
}

#body6 {
  background-color: #7D9D9C;
}

#body7 {
  background-color: #CA965C;
}